<div class="container">
  <div class="row">
    <table class="table table-striped ">
      <thead>
        <tr>
          <th colspan="3"><font size=5>Editar aluno</font></td>
          <th colspan="3" style="text-align:right;"><%= link_to "Voltar ao início", alunos_path %></td>
        </tr>
      </thead>
    </table>
    <%= render 'form' %>
  </div>
</div>
